<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
  <!-- Путь к log директории -->
  <variable name="logDir" value="./log/${date:format=yyyy-MM-dd}"/>
 
  <!-- Настройка Layout -->
  <variable name="shortLayout" value="${date:format=HH\:mm\:ss} (${level:uppercase=true}) : ${message}"/>
  <variable name="commonLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}) : ${message}"/>
  <variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}) ${callsite} :: ${message}"/>
    <targets>
 
    <target
      name="shortLog"
      xsi:type="File"
      fileName="${logDir}/short.log"
      layout="${shortLayout}" />
 
    <target
      name="fullLog"
      xsi:type="File"
      fileName="${logDir}/full.log"
      layout="${commonLayout}" />
    
  <target
      name="detailedLog"
      xsi:type="File"
      fileName="${logDir}/detailed.log"
      layout="${detailedLayout}" />
  </targets>
 
  <rules>
    <!-- Основные log -->
    <logger name="*" minlevel="Trace" writeTo="fullLog" />   
    <logger name="*" minlevel="Info" writeTo="shortLog" />
  </rules>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="detailedLog" />
  </rules>
</nlog>