<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="FileSystemWatcher" type="FoldersWatcher.Config.Section.FileSystemWatcherConfigSection, FoldersWatcher" />
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <FileSystemWatcher>
      <Folders>
        <Folder path="test\initial"></Folder>
        <Folder path="test\initial2"></Folder>
      </Folders>
      <Rules>
        <Rule targetFolder="test\text" regex="^.*\.txt$"></Rule>
        <Rule targetFolder="test\pictures" regex="^.*\.png"></Rule>
      </Rules>
      <Culture name="fr-FR"></Culture>
    </FileSystemWatcher> 
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" encoding="Unicode" />
      </targets>

      <rules>
        <logger name="*" minlevel="Info" writeTo="console" />
      </rules>
    </nlog>
</configuration>